---
import Layout from "../layouts/BlogPost.astro";
import { OneElement } from "@components/lit/one-elment.ts";
---

<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
>
  <OneElement client:visible>
    <p>This site is built based on astro and lit</p>
  </OneElement>
</Layout>
