---
import Layout from "../layouts/BlogPost.astro";
import { OneElement } from "@components/lit/one-elment.ts";
---

<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog/b4.webp"
>
  <OneElement client:visible>
    <p>This site is built based on astro and lit</p>
  </OneElement>

    <giscus-widget
      id="comments"
      repo="ligdy7/littles-app"
      repoid="R_kgDOKOGAjg"
      category="Announcements"
      categoryid="DIC_kwDOKOGAjs4CZQ__"
      mapping="pathname"
      term="Welcome to fsyud"
      reactionsenabled="1"
      emitmetadata="0"
      inputposition="top"
      theme="light"
      lang="zh-CN"
      crossorigin="anonymous"
      loading="lazy"></giscus-widget>
</Layout>
