---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { MyElement } from "@components/lit/my-element.ts";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Fsyud | A free soul" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="main-home">
      <img width={1020} height={510} src='/blog/b1.jpg' alt="" />
      <MyElement client:visible />
    </main>
    <Footer />
  </body>
</html>
